h1, h2, h3, h4, h5, h6, a, p, li, input, textarea, span, div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 0px;
}

/* Structural Styles */

.window-height {
  height: 100vh;
}

.full-height {
  align-self: stretch;
  display: flex;
  height: 100%;
  width: 100%;
}

.center-children {
  align-items: center;
  display: flex;
  justify-content: center;
}

.padded {
  padding: 30px;
}

/* Structure */

#sidebar {
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  flex-shrink: 0;
}

  #sidebar .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 48px;
  }

    #sidebar #main-nav {
      padding-top: 30px;
    }

#page {
  display: flex;
  width: 100%;
}

.section {
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  flex-direction: column;
  display: flex;
}

.section:last-child {
  border-right: none;
}

  .section-heading {
    align-items: center;
    background: rgba(0, 0, 0, 0.025);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
    width: 100%;
  }

    .section-heading-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

      .section-heading-content h3 {
        color: #788495;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
      }

  .section-body.padded {
    padding: 30px;
  }

.scroll-container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

  .section-loading-icon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 32px;
  }

#all-posts {
  flex-shrink: 0;
}

#one-post {
  width: 100%;
}

/* Sidebar */

#sidebar .ant-menu-inline,
#sidebar .ant-menu-vertical {
  background: inherit;
  border-right: none;
}

#sidebar .ant-menu-inline .ant-menu-item:after {
  display: none;
}

#sidebar .ant-menu-inline .ant-menu-selected:after {
  display: none;
}

  #sidebar .ant-menu-item > a,
  #sidebar .ant-menu-submenu-title > a {
    color: rgba(0, 0, 0, 0.65);
    display: block;
  }

  #sidebar .ant-menu-inline .ant-menu-item-selected,
  #sidebar .ant-menu-vertical .ant-menu-item-selected {
    background-color: inherit;
    border-left: 3px solid #108ee9;
  }

#sidebar .ant-layout-sider-trigger {
  background: inherit;
  color: #333;
}

/* Universal Content */

a.ant-btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

/* Specific Content */

.unselected-post-message {
  color: rgba(0, 0, 0, 0.15);
  font-size: 28px;
}

ul.posts {
  margin: 0px;
  padding: 0px;
}

  ul.posts li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

    ul.posts li a {
      align-items: center;
      color: rgba(0, 0, 0, 0.65);
      display: flex;
      padding: 30px 30px;
      width: 100%;
    }

      ul.posts li a:active,
      ul.posts li a:focus {
        text-decoration: none;
      }

.post-body ul {
  list-style-type: disc;
  list-style-position: inside;
}

  .post-body ul ul,
  .post-body ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  .post-body .task-list-item {
    margin-left: 15px;
  }

.post-body ol {
   list-style-type: decimal;
   list-style-position: inside;
}

  .post-body ol ol,
  .post-body ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

.post-body pre {
  position: relative;
}

  .post-body pre a.copy-code-to-clipboard {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

    .post-body pre:hover a.copy-code-to-clipboard {
      color: #108ee9;
    }

form.post textarea[name='body'] {
  font-family: Consolas, Menlo, Courier, monospace;
}

/* Themes */

.theme-light {
  background: #fff;
}

.theme-magenta {
  background: #940a57;
}

.theme-dark {
  background: #222;
}

  .theme-dark #sidebar .section-heading {
    background: rgba(0, 0, 0, 0.25);
  }

  .theme-dark #sidebar,
  .theme-dark #sidebar a,
  .theme-dark #sidebar .ant-layout-sider-trigger {
    color: #fff;
  }

  .theme-dark #page {
    background: #fff;
  }
