h1, h2, h3, h4, h5, h6, a, p, li, input, textarea, span, div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 0px;
}

/* Structural Styles */

.window-height {
  height: 100vh;
}

.full-height {
  align-self: stretch;
  display: flex;
  height: 100%;
  width: 100%;
}

.center-children {
  align-items: center;
  display: flex;
  justify-content: center;
}

.padded {
  padding: 30px;
}

/* Structure */

#sidebar {
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  flex-shrink: 0;
}

  #sidebar .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 48px;
  }

    #sidebar #main-nav {
      padding-top: 30px;
    }

#page {
  display: flex;
  width: 100%;
}

.section {
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  flex-direction: column;
  display: flex;
}

.section:last-child {
  border-right: none;
}

  .section-heading {
    align-items: center;
    background: rgba(0, 0, 0, 0.025);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
    width: 100%;
  }

    .section-heading-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

      .section-heading-content h3 {
        color: #788495;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
      }

  .section-body.padded {
    padding: 30px;
  }

.scroll-container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

  .section-loading-icon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 32px;
  }

#all-notes {
  flex-shrink: 0;
}

#one-note {
  width: 100%;
}

/* Sidebar */

#sidebar .ant-menu-submenu-inline,
#sidebar .ant-menu-inline,
#sidebar .ant-menu-submenu-vertical,
#sidebar .ant-menu-vertical {
  background: inherit;
  border-right: none;
}

#sidebar .ant-menu-inline .ant-menu-item:after {
  display: none;
}

#sidebar .ant-menu-inline .ant-menu-selected:after {
  display: none;
}

  #sidebar .ant-menu-submenu-title,
  #sidebar .ant-menu-item {
    border-left: 3px solid rgba(0, 0, 0, 0);
    max-width: 100%;
  }

  #sidebar .ant-menu-item > a,
  #sidebar .ant-menu-submenu-title > a {
    color: rgba(0, 0, 0, 0.65);
    display: block;
  }

  #sidebar .ant-menu-inline .ant-menu-item-selected,
  #sidebar .ant-menu-vertical .ant-menu-submenu-open .ant-menu-submenu-title,
  #sidebar .ant-menu-vertical .ant-menu-item-selected {
    background-color: inherit;
    border-left: 3px solid #108ee9;
  }

#sidebar .ant-layout-sider-trigger {
  background: inherit;
  color: #333;
}

/* Universal Content */

.ant-btn {
  border-radius: 0px !important;
}

  a.ant-btn {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

.ant-popover-title {
  background: #f9f9f9;
  color: #333;
  font-size: 13px;
  padding: 8px 16px;
}

.ant-input {
  border-radius: 0px !important;
}

form.search {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 30px 10px 23px;
}

  form.search input {
    border: none;
    border-radius: 0px;
  }

  form.search .ant-btn {
    border: none;
  }

/* Specific Content */

.unselected-note-message {
  color: rgba(0, 0, 0, 0.15);
  font-size: 28px;
}

ul.notes {
  margin: 0px;
  padding: 0px;
}

  ul.notes li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

    ul.notes li a {
      align-items: center;
      color: rgba(0, 0, 0, 0.65);
      display: flex;
      padding: 30px 30px;
      width: 100%;
    }

      ul.notes li a:active,
      ul.notes li a:focus {
        text-decoration: none;
      }

.note-body ul {
  list-style-type: disc;
  list-style-position: inside;
}

  .note-body ul ul,
  .note-body ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  .note-body .task-list-item {
    margin-left: 15px;
  }

.note-body ol {
   list-style-type: decimal;
   list-style-position: inside;
}

  .note-body ol ol,
  .note-body ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

.note-body pre {
  position: relative;
}

  .note-body pre a.copy-code-to-clipboard {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

    .note-body pre:hover a.copy-code-to-clipboard {
      color: #108ee9;
    }

form.note textarea[name='body'] {
  font-family: Consolas, Menlo, Courier, monospace;
}

.note-label-dropdown {

}

  .note-label-dropdown .labels {
    margin: -8px -16px 0px -16px;
    padding: 4px 16px;
  }

    .note-label-dropdown .labels li a {
      color: #333;
      display: block;
      padding: 4px 0px;
    }

    .note-label-dropdown .labels li.active a {
      color: #108ee9;
    }

  .note-label-dropdown .footer {
    background: #f9f9f9;
    border-top: 1px solid #eee;
    font-size: 12px;
    margin: -0px -16px -8px -16px;
    padding: 8px 16px;
  }

    .note-label-dropdown .footer a {
      color: #333;
    }

/* Themes */

.theme-light {
  background: #fff;
}

.theme-magenta {
  background: #940a57;
}

.theme-dark {
  background: #222;
}

  .theme-dark #sidebar .section-heading {
    background: rgba(0, 0, 0, 0.25);
  }

  .theme-dark #sidebar,
  .theme-dark #sidebar a,
  .theme-dark #sidebar .ant-menu-submenu-title,
  .theme-dark #sidebar .ant-menu-item,
  .theme-dark #sidebar .ant-menu-item-group,
  .theme-dark #sidebar .ant-menu-item-group-title,
  .theme-dark #sidebar .ant-menu-item-selected,
  .theme-dark #sidebar .ant-layout-sider-trigger {
    color: #fff;
  }

  .theme-dark #page {
    background: #fff;
  }
